body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}
.chat-box {
    max-width: 800px;
    max-height: 700px; 
    overflow-y: auto;
    margin: 0 auto;
    background-color: #bbb7b7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.chat-message {
    margin-bottom: 10px;
    clear: both; /* 각 메시지가 겹치지 않도록 설정 */
}
.user-message {
    float: right; /* 사용자 메시지를 오른쪽으로 정렬 */
    background-color: #d1e7dd;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    text-align: right;
    color: #000000;
}
.bot-message {
    float: left; /* 봇 메시지를 왼쪽으로 정렬 */
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    text-align: left;
    color: #000000;
}
.chat-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
textarea {
    width: 100%; /* 너비를 100%로 설정 */
    height: 30px; /* 높이를 줄임 */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14pt; /* 글자 크기 조정 */
    resize: none; /* 크기 조절 막기 */
}
button {
    margin-left: 10px; /* 버튼을 입력창 오른쪽에 위치 */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14pt; /* 버튼 글자 크기 */
}
button:hover {
    background-color: #45a049;
}